ultralytics
tensorboard
opencv-python
torchvision
git+https://github.com/IDEA-Research/GroundingDINO.git
git+https://github.com/facebookresearch/segment-anything.git
supervision
Pillow
numpy
matplotlib
pandas
seaborn
scikit-learn
tqdm
requests
PyYAML
torch
albumentations
segmentation-models-pytorch
streamlit
